body{
	background-color: #FFF5F5;
}
.navbar-inverse{
	padding-top: 10px;
	padding-bottom: 10px;
}
.h1-1{
	font-size: 32px;
}
.forms{
	background-color: #0A3D6E;
}
.ft{
	height: 46px;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	color:white;
	background-color: #477A9C;
	cursor:auto;
}
.ft:hover{
	color:black;
	background-color: white;
	border: 1px solid blue;
	cursor:auto;
}
.h1-2{
	color:white;
}
.h1-3{
	color:Black;
}
.ftb{
	height: 46px;
	font-size: 24px;
	border: 0px;
	border-radius: 5px;
	color:white;
	background-color: #660036;
	cursor:pointer;
}
.ftb:hover{
	color:black;
	background-color: #E0FFC2;
	cursor:pointer;
	
}
.ft:link {
	color:black;
	background-color: white;
	border: 1px solid blue;
	cursor:auto;
}
.fts{
	height: 46px;
	font-size: 20px;
	border: 1px;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	cursor:auto;
	box-shadow: 0 0 2px blue;

}

.bts{
	height: 46px;
	font-size: 20px;
	border: 1px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 0 2px blue;
	background-color: white;
}
#tab{
	width:80%;
	border: 1px ;
	border-radius: 5px;
	box-shadow: 0 0 2px blue;
}
#ftd{
	height: 46px;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	color:white;
	cursor:auto;
}
#ftw{
	height: 46px;
	font-size: 24px;
	border: 0px;
	border-radius: 5px;
	color:white;
	background-color: #660036;
	cursor:pointer;
}
